/*  your css code here. If applicable */
img{
	height:250px;
	width:500px;
}
.hero{
	display:flex;
	gap:50px;
}
.text{
	
    width: 900px;
    height: 400px;
   
    padding: 25px;
}
p{
    padding: 0px;
}
.btn{
    width:200px;
    height: 75px;
    background: red;
    color: white
   

}